#root {
  max-width: 1280px;
  background: #FFFFFF;
}
.link {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #2c2c2c;
  padding-left: 188px;
  padding-top: 25px;
  position: absolute;
  /* left: 188px;
  top: 25px; */ 
  margin: 0;
}
.link_down {
  position: absolute;
  bottom: 37px;
  right: 180px;
  color: #00A0AB;
}

.card_wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  padding: 58px calc(50% - 484px);
}
.hidden {
  display: none;
}
@media (max-width: 1059px) {
  .card_wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 58px calc(50% - 360px);
  }
}
@media (max-width: 768px) {
  .card_wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 58px calc(50% - 236px);
  }
}
@media (max-width: 576px) {
  .card_wrapper {
    grid-template-columns: 1fr;
    padding: 58px calc(50% - 112px);
  }
  .link {
    padding-left: 45px;
  }
  .link_down {
   
    right: 45px;
    
  }
  
}